extends ./layouts/main.pug
include mixins/miniBoard

block content
    .h_box
        .h_box__col_1
            .col_1__box_1 box1
            .col_1__box_2 box2
            .col_1__box_3 box3
        .h_box__col_2
            .col_2__sub1 
                .sub_1__title News +
                +miniBoard
            .col_2__sub2
                .sub_2__title Issue +
                +miniBoard