.mini {
  margin-top: 30px;
  margin-left: 50px;
}

.mini .mini__thead .thead__tr {
  font-size: 18px;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}

.mini .mini__thead .thead__tr .tr__th {
  padding: 3px 10px;
  margin: 10px 10px;
}

.mini .mini__thead .thead__tr .tr__th:first-child {
  padding: 5px 90px;
}

.mini .mini__tbody tr:nth-child(even) {
  background-color: #82ccdd;
}

.mini .mini__tbody tr td {
  padding: 5px 15px;
  font-weight: 300;
  color: #777777;
}

.mini .mini__tbody tr:hover {
  background-color: #dff9fb;
  cursor: pointer;
  color: #0b0b0b;
}
