mixin miniBoard(miniBoard = {})
    table.mini
        thead.mini__thead
            tr.thead__tr
                th.tr__th Title
                th.tr__th Author
                th.tr__th Date
                th.tr__th Hit
        tbody.mini__tbody
            tr
                td Dummy
                td Dummy
                td Dummy
                td Dummy
           
            tr
                td Dummy
                td Dummy
                td Dummy
                td Dummy
         
            tr
                td Dummy
                td Dummy
                td Dummy
                td Dummy
                
            tr
                td Dummy
                td Dummy
                td Dummy
                td Dummy
               
            